<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="mainBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<style>
.categories img {
	padding-left: 6em;
	padding-right: 6em;
}

.input {
	border: none;
	background: transparent;
	outline: none;
}
</style>

</head>
<body>
	<section class="cat">
		<h2 id="firstName">Welcome</h2>
		<div class="my-card">
			<p class="content">The Student Information Exchange is a info exchange platform for Bearcats. Anyone with an email address at nwmissouri.edu
				can use the website.</p>
		</div>
	</section>
	<script>
		var firstName = "${session.firstName}"
		document.getElementById("firstName").innerHTML = firstName
	</script>
</body>
</html>